@import 'reveal.js/dist/reset.css';
@import 'reveal.js/dist/reveal.css';
@import 'reveal.js/dist/theme/night.css';
@import 'highlight.js/styles/atom-one-dark.min.css';

.force-highlighting-button {
  margin-left: auto;
  display: block;
  font-size: 24px;
  border: transparent 1px solid;
  border-radius: 25px;

  background-color: rgb(17, 17, 17);
  color: rgb(117,116,115);
}

.force-highlighting-button:hover {
  background-color: rgb(40, 44, 52);
  color: rgb(231, 173, 82);
  border: black 1px solid;
}

.force-highlighting-button:active {
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.5);
}

.code-side-bottom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  span {
    font-size: 1rem;
    color: #606060;
    word-wrap: anywhere;
    text-align: left;
  }
}

log-snippet > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  span {
    font-size: 22px;
  }

  .log-snippet-pre {
    margin: 0;
    padding: 18px;

    white-space: pre-wrap;

    font-size: 18px;
    font-family: monospace;
  }
}

/* Reveal.js overwrites */

section {
  display: flex !important;
  flex-direction: column;
  gap: 0.5rem;
}

.reveal {
  --scrollbar-thumb-color: #444;

  pre, .code-wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0;

    code {
      border-radius: 0.5rem;

      /* Webkit (e.g. Chrome, Edge, Safari) */
      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0.5rem;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color, var(--r-background-color));
        border: 1px solid var(--scrollbar-thumb-color, var(--r-background-color));
        border-radius: 0.5rem;
      }

      /* Firefox */
      /*noinspection CssUnknownProperty*/
      @supports (-moz-appearance: none) {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb-color, var(--r-background-color)) transparent;
      }
    }
  }

  pre {
    border-radius: 0.5rem;
  }
}